*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    border-radius: 15px;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 auto ;
}
ul{
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
}
 .giohang{
    position: absolute;
    cursor: pointer;
  font-size: 70px;
    top: 10%;
    right: 10%;
}
.giohang span{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: red;
    color: white;
    display: flex;
    align-items: center;
   justify-content: center;
   font-size: small;
   top: 10px;
   right: 15px;
}
.product_list{
    width: 100%;
    height: 100%;
    padding: 0 100px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.product_item{
    width: 15%;
    color: white;
    background: #000;
   border-radius: 15px;
   box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
   padding: 10px 0px;
   margin: 0 20px;
}
.product_logo{
    height: 10%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 0 0;
    padding: 0 0;
}
.product_img{
    padding: 10px 20px;
    height: auto;

    
}
.product_logo i{
    margin: 0;
    padding: 0;
}
.product_info{
    padding: 5px 10px 10px 10px;
    background: #2e2f33;
    border-radius: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    
    
}
.over_play_product_item{
    height: 60px;
      overflow: hidden;
      transition:0.5s;
}
.product_info li:first-of-type{
    margin: 20px 10px;
   display: flex;
   justify-content: space-between;
}
.product_info li:last-of-type{
    margin: 0px 10px;
 
}
.product_item:hover .over_play_product_item {
    height: fit-content;
    transition:0.5s;
}

.product_item:hover {
    transform: translateY(-10px);
    width:17%;
    transition: 0.6s;
}
#icon_buy{
    display: none;
}
/* .card {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
} */
.card{
    display: none;
    color: white;
    padding: 20px 30px;
}
.card_show{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}
.card_container{
   margin-top: 20px;
   position: absolute;
    width: 50%;
     right: 0;
    display: flex;
    flex-direction: column;
  
}
.card_row{
   display: flex;
   flex-direction: column;
}
.card_row ul{
    display: flex;
    align-items: center;
    color: white;
}
.card_row ul li{
    text-align: center;
    padding: 10px 20px;
    width: 20%;
}
#filter{
    position: absolute;
    top: 10%;
    left: 10%;
}
#filter select{
    padding: 10px 20px;
}
#total{
    position: absolute;
    right: 0;
    display: none;
    width: 50%;
    justify-content: space-around;
}

@media all and ( max-width : 1150px){
    .product_item{
        width: 25%;
        color: white;
        background: #000;
       border-radius: 15px;
       box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
       padding: 10px 0px;
       margin: 0 10px;
    }
    .product_item:hover {
        transform: translateY(-10px);
        width:30%;
        transition: 0.6s;
    }
    .card_container{
        margin-top: 20px;
        position: absolute;
         width:100%;
          right: 0;
         display: flex;
         flex-direction: column;
       
     }
}
@media all and ( max-width : 375px){
    .product_list{
        display: grid;
        grid-template-columns: repeat(1,0.5fr);
       justify-content: left;
       padding: 200px 20px;
       margin: 0 0;
        width: 100%;
    }
    .product_item{
       
        width: 100%;
        color: white;
        background: #000;
       border-radius: 15px;
       box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
       padding: 0 0;
       margin: 10px 0;
    }
    .product_item:hover {
        transform: translateY(-10px);
        width:100%;
        transition: 0.6s;
    }
    .card_container{
        margin-top: 20px;
        position: absolute;
         width:70%;
          right: 0;
         display: flex;
         flex-direction: column;
       
     }
     .giohang{
        position: fixed;
        font-size: 50px;
     }
     .giohang span{
        width: 20px;
        height: 20px;
        font-size: 20px;
     }
    
}

